
body {

	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

img {
	display: block;
	max-width: 100%;
}

/* Botões */

.btn {
	border: 3px solid #fff;
	padding: 10px 30px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	cursor: pointer;
}

.btn1 {
	border: 3px solid #241654;
	padding: 10px 30px;
	color: #241654;
	font-size: 14px;
	line-height: 100px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	cursor: pointer;
}
.btn2{
	border: 3px solid #241654;
	padding: 10px 30px;
	color: #241654;
	font-size: 14px;
}
/* Interações do botão com o cursor */

.btn:hover {
	color: gray;
	border-color: #fff;
	background-color: #fff;
	transition: .2s;
}
.btn1:hover {
	color: #fff;
	border-color: #241654;
	background-color: #241654;
	transition: .2s;
}
.btn2:hover {
	color: #fff;
	border-color: #241654;
	background-color: #241654;
	transition: .2s;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000;
}

/* Estilização dos subtítulos*/

.subtitulo {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #241654;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #241654;
	margin: 8px auto;
}

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}

/* Header */

.header {
	top: 0;
	width: 100%;
	background: #fff;
	padding: 20px 0;
	z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 35px;
}

.header_menu ul li a {
	color: #241654;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 16px;
	line-height: 20px;
	padding: 50px 0;
}

.header_menu ul li a:hover {
	color: gray;
}

.header_menu ul li a.menu_ativo {
	color: #FFF;
}

/* Blocos contentedo as ofertas de viagem */
.oferta {
	width: 100%;
	height: 650px;
	background: url("../img/nate.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	margin-top: 50px;
	padding-top: 275px;
}
.oferta1 {
	width: 100%;
	height: 390px;
	background: url("../img/mar.jpg") no-repeat center;
	background-size: cover;
	margin-top: 50px;
	text-align: center;
	padding-top: 100px;
}

.oferta2 {
	width: 100%;
	height: 650px;
	background: url("../img/piramide.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 300px;
	margin-top: 0px;
}

.oferta3 {
	width: 100%;
	height: 600px;
	text-align: center;
	background: url("../img/madas.jpg") no-repeat center;
	background-size: cover;
	padding-top: 150px;
	margin-top: 50px;
}

/* Texto das ofertas*/

.oferta h1{
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.oferta1 h1{
	font-size: 48px;
	color: #241654;
	font-weight: bold;
	text-transform: uppercase;
}

.oferta2 h1{
	font-size: 48px;
	color: #241654;
	font-weight: bold;
	text-transform: uppercase;
}
.oferta3 h1{
	font-size: 48px;
	color: #241654;
	font-weight: bold;
	text-transform: uppercase;
}

/* Quotes*/
.quote-externo1 {
	color:#241654;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: white;
}

.quote-externo p,
.quote-externo1 p,
.quote-externo2 p {
	font-style: italic;
	font-size: 18px;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px auto;
}
.quote-externo1 p:before, .quote-externo1 p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #241654;
	margin: 14px auto 10px auto;
}
.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: .1em;
}
.quote-externo1 cite {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: .1em;
}

.quote-externo1 p{
	font-style: italic;
}

.quote-externo1 cite, a{
	color:#241654;
}


/*Parte interna das ofertas*/

.introducao-interna {
	width: 100%;
	margin-top: 92px;
	height: 160px;
	text-align: center;
	color: #fff;
	padding-top: 30px;
}

.introducao-interna h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 6px auto 10px auto;
}


/* Produtos */
.produtos {
	padding: 60px 0;
}

.produtos_lista li{
	background: #241654;
	text-align: center;
}

.produtos_lista li img {
	margin: 0 auto;
}

.produtos_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.produtos_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 2px auto;
}


li p{
	color: #fff;
}

.grid-1-3 h3{
	color: #fff;
}

.call {
	padding-top: 40px;
	text-align: center;
	clear: both;
}

.call p{
	margin-bottom: 20px;
}

/*Footer*/

.footer {
	width: 100%;
	background: #241654;
	color: #fff;
	padding: 20px 0;
}

.footer h3 {
	font-size: 18px;
	line-height: 25px;
	color: ##;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background:#241654;
	margin: 6px 0 12px 0;
}

.footer_historia {
	padding-right: 40px;
}

.footer_contato ul li {
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
	display: inline-block;
	margin-right: 10px;
}

.footer_redes ul li a {
	border: 3px solid #241654;
	display: block;
	padding: 10px;
}

.footer_redes ul li a:hover {
	border-color: #fff;
}
